.chat
  .header
    .left-header
      %h2 #{@group.name}
      .left-header__members
        Members:
        - @group.users.each do |user|
          %span.chat-header__user.member #{user.name}
    .right-header
      = link_to 'Edit', edit_group_path(@group), class: 'right-header__button'
  .messages
    = render @messages
  .form
    = render "shared/form"